
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
.head{
    text-align: center;
    display: flex;
    gap: 300px;
}
.logo{
    width: 180px;
    height:150px;

}
.heading{
    padding-top: 30px;
}
nav {
    display: flex;
    justify-content: end;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;    
}
main {
    padding: 20px;
}
.container{
    padding: 30px 30px;
    
}
article {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    width:100%;
    gap:50px;
}
.article_img img{
    height: 400px;
    width:500px;
}
.content{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}
.article-card{
    justify-content: space-between;
    gap:70px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card{
    border:1px solid #333;
    
}
.card-img{
    height: 200px;
    width: 100%;
}
.card-heading{
    padding-top: 10px;
    text-align: center;
}
.card-content{
    text-align: center;
}
.form{
    padding-bottom: 100px;
    gap:120px;
}
.form-input{
    gap:100px;
    padding-bottom: 30px;
}
.file-content{
    justify-content: center;
}
.btn{
    width:220px;
    border-radius: 20px;
}
.button{
    padding-left: 15px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}
